{% extends "base.html" %}
{% block body %}
<div>
    <form action="/add-squawk/" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="squawk_text">Squawker like a boss here: </label>
            <input class="form-control" type="text" name="squawk_text" pattern=".{1,140}" size="100" placeholder="Type your messsage here" oninvalid="alert('Max length: 140 characters')">
        </div>
        <input class="btn btn-default" type="submit" value="submit">
    </form>
</div>

<div>
    <div >
        <h2> Your Squawks history {{ context }}  </h2>
    </div>

    <div class="comments-list">
        {% for squawk in squawks %} 
        <p class="pull-right"><small>{{ squawk.post_date }}</small></p>
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">Anonymous User</h3>
            <p>{{ squawk.post_text }}</p>
        </div>
        <!--   <div class="media-right">
            <img src="img_avatar1.png" class="media-object" style="width:60px">
        </div> -->
    </div>
    {% endfor %} 

</div>

{% endblock %}
